body{
    font-family: Arial, sans-serif;
      background-color: #1e1e1e;
      color: white;
      padding: 20px;
}
  h1{
    text-align: center;
  }

  .projeto {
    background: #333;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }